<div id="favorite_songs_div" class="bd-sm">
  <div id="favorite_songs_carousel" class="owl-carousel owl-theme">
    <% if @favorites %>
      <% if @favorites.length > 0 %>
        <% @favorites.each do |fav| %>
          <% number = rand(1..7) %>
          <div class="item num<%= number.to_s %>" >
            <h4><%= fav.song.title %></h4>
          </div>
        <% end %>
      <% else %>
        <h3>You don't have any favorite songs yet!</h3>
      <% end %>
    <% else %>
      <h3>You don't have any favorite songs yet!</h3>
    <% end %>
  </div>

  <div class="customNavigation">
    <a class="btn prev">Previous</a>
    <a class="btn next">Next</a>
    <a class="btn play">Autoplay</a>
    <a class="btn stop">Stop</a>
  </div>
</div>

