
<div id="my_rooms_carousel_div" class="bd-sm">

  <div id="my_rooms_carousel" class="owl-carousel owl-theme">
    <p>my joined rooms</p>
    <% @joined_rooms.each do |room| %>
      <% id = room.id %>
      <div class="item" id=<%="#{id}" %> >
        <h4><%= room.name %></h4>
        <br>
        <h5><%= room.description %></h5>
      </div>
    <% end %>



  <div class="customNavigation">
    <a class="btn prev">Previous</a>
    <a class="btn next">Next</a>
    <a class="btn play">Autoplay</a>
    <a class="btn stop">Stop</a>
  </div>
</div>
