<div id="my_rooms_carousel_div" class="bd-sm">

  <div id="my_rooms_carousel" class="owl-carousel owl-theme">
    <% @my_rooms.each do |room| %>
      <div class="item" id="<%= room.id %>">
        <h4><%= room.name %></h4><br>
        <h5><%= room.description %></h5>
        <form class='delete_my_room' action="<%= "/users/#{room.user_id}/rooms/#{room.id}" %>" method="post" data-no-turbolink>
          <input type="hidden" name="_method" value="delete">
          <input type='submit' value='delete'>
        </form>
      </div>
    <% end %>



  <div class="customNavigation">
    <a class="btn prev">Previous</a>
    <a class="btn next">Next</a>
    <a class="btn play">Autoplay</a>
    <a class="btn stop">Stop</a>
  </div>
</div>
