<div id="my_rooms_carousel_div" class="bd-sm">
  <div id="my_rooms_carousel" class="owl-carousel owl-theme">
    <% if @my_rooms %>
      <% @my_rooms.each do |roomuser| %>
         <% id = roomuser.id %>
        <div class="item" id=<%="#{id}" %>><h4><%= roomuser.name %></h4><br><h5><%= roomuser.description %></h5></div>
      <% end %>
    <% else %>
      <h3>You don't have any rooms yet!</h3>
    <% end %>
  </div>

  <div class="customNavigation">
    <a class="btn prev">Previous</a>
    <a class="btn next">Next</a>
    <a class="btn play">Autoplay</a>
    <a class="btn stop">Stop</a>
  </div>
</div>
