<% @sc_tracks.each do |track| %>
  $("#sc_song_list").append('<li><%= track.title %></li>')
<% end %>

//for soundcloud: track.permalink_url

<% @yt_videos.each do |video| %>
  $("#yt_song_list").append('<li><%= video.title %><br><%= video.description %></li>')
<% end %>

// attributes of video: http://ruby-doc.org/gems/docs/n/nddrylliog_youtube_it-2.1.4/YouTubeIt/Model/Video.html
// video.video_id for identifier