<%= form_for :search, remote:true, url: search_path do |f| %>


    <%= f.text_field :query, :id => "song_search_input", :placeholder => "Search" %>


  <p>
    <%= f.submit "Submit search"%>
  </p>
<% end %>
