<div id="ajax_home_thing">
  <div class="icon" id='user_home'>
     <%= image_tag("cloud-2.gif", :id => "cloud_image") %>
    <% if @user %>
      <h1>CLOUD DJ WELCOMES <br> YOU, <%= @user.first_name.upcase %>.</h1>
    <% else %>
      <h1 class="header">Cloud DJ</h1>
    <% end %>

    <p class="app_description">A cloud party where you can create rooms and share playlists with your friends and others.</p>
  </div>

</div>
