<!-- when completed, this should be in room view -->
<div id="sessionuserid" sessionid="">
</div>

<div id="song_search_bar">
  <%= render :partial => 'partials/search' %>
  <div id="query_song_list">
    <button id="clear_search">clear results</button>
    <%= render :partial => 'partials/search_results' %>
  </div>
</div>

<div id="now_playing_div">Now playing: <span id="currently_playing"></span>
  <form>
    <label>Favorite this song:</label>
    <input type="checkbox" id="fav_button" title="" description="" song_id="" >
  </form>
  <div id="favorited"></div>
  <button id="mute_button"><%= image_tag 'mutebutton.png' %></button>
  <button id="skip_button"><%= image_tag 'skipbutton.png' %></button>

<div id="player_container">
 <div id="soundcloud"></div>
</div>

<div><button id="delete_button">Delete mode: <span id="delete_mode_toggle">OFF</span></button></div>
<div id="queue_container" class="">
  <ul>
  </ul>
</div>


