
<ul id="sti-menu" class="sti-menu">
    <li data-hovercolor="#37c5e9">
        <a href="#" id="home_tab">
            <h2 data-type="mText" class="sti-item">
                Home
            </h2>
            <h3 data-type="sText" class="sti-item">
                It's just our logo.
            </h3>
            <span data-type="icon" class="sti-icon sti-icon-home sti-item">
            </span>
        </a>
    </li>
    <li data-hovercolor="#37c5e9">
        <a href="#" id="new_room_tab">
            <h2 data-type="mText" class="sti-item">
                New Room
            </h2>
            <h3 data-type="sText" class="sti-item">
                Be the best host ever.
            </h3>
            <span data-type="icon" class="sti-icon sti-icon-room sti-item">
            </span>
        </a>
    </li>
    <li data-hovercolor="#37c5e9">
        <a href="#" id='user_profile'>
            <h2 data-type="mText" class="sti-item">
                Profile
            </h2>
            <h3 data-type="sText" class="sti-item">
                Who are you?
            </h3>
            <span data-type="icon" class="sti-icon sti-icon-profile sti-item">
            </span>
        </a>
    </li>
    <li data-hovercolor="#37c5e9">
        <a href="/users/logout" data-method="post" data-remote="true" >
            <h2 data-type="mText" class="sti-item">
                Logout
            </h2>
            <h3 data-type="sText" class="sti-item">
                Go outside.
            </h3>
            <span data-type="icon" class="sti-icon sti-icon-logout sti-item">
            </span>
        </a>
    </li>
</ul>
