<!-- < % if @user % >
  <div id="list_menu_div" class="ps-a">
    <ul id="list_menu">
      <li id="home_tab">Home</li>
      <hr>
      <li id="new_room_tab" >New Room</li>
      <hr>
      <li id='user_profile' >My Profile</li>
      <hr>
      <li>< %= link_to 'Logout', users_logout_path, method: :post, remote: true % ></li>
    </ul>
  </div>
< % end % >
 -->

<ul id="sti-menu" class="sti-menu">
    <li data-hovercolor="#37c5e9">
        <a href="#">
            <h2 data-type="mText" class="sti-item">
                Some text
            </h2>
            <h3 data-type="sText" class="sti-item">
                Some more text
            </h3>
            <span data-type="icon" class="sti-icon sti-icon-care sti-item">
            </span>
        </a>
    </li>
    <li>...</li>
    ...
</ul>
