<div id="profile_page" class="dsp-n">
  <div id="accordion">
    <ul>
      <li>
        <h6 id='users_own_rooms'>My Created Rooms</h6>
        <ul>
          <%= render partial: 'homepage/my_rooms_carousels' %>
        </ul>
      </li>
      <li>
        <h6 id='users_rooms_joined'>Rooms I've Joined</h6>
        <ul>
          <%= render partial: 'homepage/joined_rooms_carousel' %>
        </ul>
      </li>
      <li>
        <h6 id='users_friends'>Your Friends</h6>
        <ul>
          My Friends: 0 sad day.
        </ul>
      </li>
    </ul>
  </div>
</div>

