<div id="profile_page" class="bd-sm dsp-n">
  <div id="accordion">
    <ul>
      <li><h6 id='users_own_rooms'>My created</h6>
        <ul>
         <%= render partial: 'homepage/my_rooms_carousels' %>
        </ul>
      </li>
      <li><h6 id='users_rooms_joined'>Rooms I've Joined</h6>
        <ul>
          <%= render partial: 'homepage/joined_rooms_carousel' %>
        </ul>
      </li>
      <li><h6 id='users_friends'>your friends</h6></li>
        <ul>
          My Friends: 0 sad day.
        </ul>
      </li>
    </ul>
  </div>
</div>

