<div id="accordion">
  <ul>
    <li><h6 id='users_own_rooms'>Rooms you created</h6>
      <ul>
        <li>Room I created</li>
      </ul>
    </li>
    <li><h6 id='users_rooms_joined'>Rooms you are a part of</h6>
      <ul>
        <li>Room I'm apart of</li>
      </ul>
    </li>
    <li><h6 id='users_friends'>your friends</h6></li>
      <ul>
        <li>My Friends</li>
      </ul>
    </li>
  </ul>
</div>



