<!-- when completed, this should be in room view -->

<div id="song_search_bar">
   <%= render :partial => 'partials/search' %>
  <div id="query_song_list">
  <%= render :partial => 'partials/search_results' %>
  </div>
</div>

<div>Now playing: <span id="currently_playing"></span></div>

<div id="player_container">
  <ul>
    <li><a href="#soundcloud">SoundCloud Player</a></li>
    <li><a href="#youtube">YouTube Player</a></li>
  </ul>

  <div id="soundcloud">
    <p>soundcloud</p>
  </div>
  <div id="youtube">
    <p>youtube</p>
  </div>
</div>


<div id="queue_container" class="">
  <ul>

  </ul>
</div>