<!-- when completed, this should be in room view -->
<div id="sessionuserid" sessionid=""></div>
<div id="song_search_bar">
  <%= render :partial => 'partials/search' %>
  <div id="query_song_list">
    <%= render :partial => 'partials/search_results' %>
  </div>
</div>


<div>Now playing: <span id="currently_playing"></span>
  <form>
    <label>Favorite this song:</label>
    <input type="checkbox" id="fav_button" title="" description="" song_id="" >
  </form>
  <button id="mute_button"><%= image_tag 'mutebutton.png' %></button>
  <button id="skip_button"><%= image_tag 'skipbutton.png' %></button>
</div>

<div id="player_container">
  <ul>
    <li><a href="#soundcloud">SoundCloud Player</a></li>
    <li><a href="#youtube">YouTube Player</a></li>
  </ul>

  <div id="soundcloud">
  </div>
  <div id="youtube">
  </div>
</div>

<div><button id="delete_button">Delete mode: <span id="delete_mode_toggle">OFF</span></button></div>
<div id="queue_container" class="">
  <ul>
  </ul>
</div>
