<!-- when completed, this should be in room view -->

<div id="song_search_bar">
   <%= render :partial => 'partials/search' %>
  <div id="query_song_list">
  <%= render :partial => 'partials/search_results' %>
  </div>
</div>

<div>Now playing: <span id="currently_playing"></span></div>
<div id="video_container" class="">

</div>

<div id="queue_container" class="">
  <ul>

  </ul>
</div>