<!-- when completed, this should be in room view -->

<div id="song_search_bar">
   <%= render :partial => 'partials/search' %>
  <div id="query_song_list">
  <%= render :partial => 'partials/search_results' %>
  </div>
</div>

<div id="video_container" class="">

</div>

<div id="queue_container" class="">
  <ul>
    <%= render :partial => "rooms/queue" %>

  </ul>
</div>




<!-- //   function renderSongs(data) {
//     // debugger;
//     for (var i=0; i < 6; i++) {
//       $("#query_song_list").append("<li id='song_option' class='bd-sm p-l hvr'>" + data[i].title + "</li>")
//       console.log(data[i]);
//       $("#query_song_list").slideDown("slow");
//     }
//   }

//   function songOption() {
//     $("#song_option").on("hover")
//   }

//   function clearForm() {
//     $('#song_search_bar').val("");
//   } -->

<!-- <div ng-controller="SoundcloudCtrl">
  <form ng-submit="submit(search)">
    <input type="string" name="query" placeholder="Search for songs" ng-model="search.query" id="song_search_bar">
    <input type="submit">
  </form>
</div>

<div ng-controller="SoundcloudCtrl as sound">
  <ul id="query_song_list" class="bd-sm dsp-n wdt-l">
    <!-- <li  ng-repeat="song in sound.songs">{{ song }}</li> -->
  </ul>
</div>