<div id="room" class="dsp-n">
  <div id="home_button" class="bd-sm pd-l ">
    Home
  </div>

  <% if @room %>
    <%= @room.name %>
    <%= @room.description %>
  <% end %>

  <%= render :partial => 'users/show' %>

</div>
