<ul id="avatar_list">
  <% @users.each do |user| %>
    <li class="bou nce"><%= image_tag "cloud-icon.png" %><li>
  <% end %>
</ul>


<%= form_for :chat, :html => {:method => :post}, :url => '/rooms/chat', remote: true do |f| %>
      <%= f.text_field :content, :class => "bd-s p-l", :id => "text_field", :placeholder => "chat it up yo" %>
      <div id="save_new_room_form_button"><%= f.submit :id => "submit" %> </div>
  <% end %>
