/*.lights {
  width:100%;
  padding:10% 0;
  background-color:red;
}*/
.bounce {
  color: green;
  width:30px; height:30px;
  border-radius:2px;

  /*call animation*/
  /*animation:flashing 2s infinite;*/
  -webkit-animation: flashing 5s infinite;
}

@-webkit-keyframes flashing {
from {left: 0px;}
    to {left: 200px;}
}

