#owl-demo .item {
  background: #3fbf79;
  height: 12em;
  width: 12em;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: 1px purple solid;
  margin: 10px;
  font-size: 18px; }

.customNavigation {
  text-align: center; }

.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
