$black:#080308;
$white:#FFFFFF;
$beige:#FFFFEC;
$dblue:#75ACD1;
$lblue:#BAE7E8;
$gray:#333333;
$medium:12em;



body {background: linear-gradient(to bottom right, $white, $beige);}
.bk-b {background-color: $black;}
.bk-g {background-color: $gray;}

.blk {color: $black;}

.dsp-n {display: none;}

.bd-sm {border: 1px black solid;}



.p-l {padding: 3px;}
.p-n {padding: 0;}
.pt-m {padding-top: 5em;}
.pt-i {padding-top: 8em;}
.pl-r {padding-left: 40em;}
.pl-c {padding-left: 25em;}
.mg-n {margin: 0;}

.ht-l {height: 100em;}
.ht-sig {height: $medium + 2em}
.ht-log {height: $medium;}
.ht-b {height: 46em;}
.wdt-l {width: 25em}

.ps-f {position: fixed;}

t-t {top: 0}
.t-h {top: -11em; position:relative;}

.hvr:hover {border: 3px black solid}

.input {
  padding: 3px;
  height: 1.5em;
  border-radius: 4%;
  font-size: 15px;
  width: 10em;
  text-align: center;
}

h1 {
  font-size: 60px;
}



