body {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

.bk-b {
  background-color: #080308; }

.bk-g {
  background-color: #333333; }

.blk {
  color: #080308; }

.dsp-n {
  display: none; }

.z-2 {
  z-index: 2; }

.bd-sm {
  border: 1px black solid; }

.bd-m {
  border: 2px black solid; }

.br-c {
  border-radius: 100px;
  width: 8em;
  height: 8em; }

.br-s {
  border-radius: 2px; }

.c-db {
  color: #75acd1; }

.c-lb {
  color: #bae7e8; }

.c-g {
  color: #333333; }

.c-r {
  color: #9c1616; }

.ff-g {
  font-family: Garamond; }

.p-l {
  padding: 3px; }

.p-n {
  padding: 0; }

.pt-m {
  padding-top: 5em; }

.pt-i {
  padding-top: -10em; }

.pl-r {
  padding-left: 40em; }

.pl-c {
  padding-left: 25em; }

.pl-l {
  padding-left: 10em; }

.p-in {
  padding-left: 1em;
  padding-right: 1em; }

.mg-n {
  margin: 0; }

.mgr-s {
  margin-right: 20em; }

.mgl-r {
  margin-left: 50em; }

.mt-s {
  margin-top: 3.5em; }

.ht-l {
  height: 100em; }

.ht-sig {
  height: 14em; }

.ht-log {
  height: 12em; }

.ht-m {
  height: 20em; }

.ht-b {
  height: 60em; }

.ht-s {
  height: 10em; }

.wdt-l {
  width: 25em; }

.wdt-f {
  width: 100%; }

.ps-f {
  position: fixed; }

.ps-r {
  position: relative;
  width: 100%; }

.ps-a {
  position: absolute; }

t-t {
  top: 0; }

.t-h {
  top: -10em; }

.hvr:hover {
  border: 3px black solid; }

.input {
  padding: 3px;
  height: 1.5em;
  border-radius: 4%;
  font-size: 15px;
  width: 10em;
  text-align: center; }

h1 {
  font-size: 60px; }

#hide_button {
  height: 1em;
  width: 3em;
  border: 1px #bae7e8 solid;
  border-radius: 4px;
  background-color: black;
  color: #bae7e8;
  text-align: center; }

#hide_button:hover {
  border: 2px #75acd1 solid;
  color: #75acd1; }

#show_signup_form_button {
  float: right; }

#show_signup_form_button:hover {
  color: #75acd1; }

#trending_carousel_div {
  position: relative;
  height: 40em;
  width: 90em;
  margin: 0 40em 0 0;
  text-align: center;
  top: 7em; }

#trending_carousel_div .customNavigation {
  color: white; }

#hello {
  height: 5em;
  width: 5em;
  background-color: blue; }

#new_room_form_div {
  width: 60em;
  height: 25em;
  position: relative;
  border: 4px #080308 solid;
  border-radius: 4px;
  margin-left: -40em; }

#text_area {
  width: 80%;
  height: 7em;
  border: 2px #080308 solid;
  color: #333333;
  font-size: 20px;
  border-radius: 4px;
  margin: 30px 0px 15px 85px; }

#text_field {
  width: 80%;
  border: 2px #080308 solid;
  color: #333333;
  font-size: 20px;
  margin: 1em;
  margin-left: 1.5em;
  margin: 40px 0px 0px 85px; }

#hide_new_room_form_button {
  width: 5em;
  margin-left: 6em;
  text-align: center;
  float: left;
  display: inline-block; }

#save_new_room_form_button {
  width: 5em;
  margin: 2px;
  margin-left: 15em;
  text-align: center;
  top: 1.5em;
  position: relative; }

#hide_new_room_form_button:hover {
  background-color: #75acd1;
  border: 2px #080308 solid; }

#home_button {
  width: 5em;
  margin: 1em;
  margin-left: 15em;
  float: right;
  text-align: center;
  top: -10em;
  position: relative; }

#home_button:hover {
  background-color: #75acd1;
  border: 2px #080308 solid; }

#check_box {
  margin: 5px;
  margin-left: 1.5em;
  font-size: 15px;
  color: #333333; }

#submit {
  width: 8em;
  text-align: center;
  color: #080308; }

#submit:hover {
  background-color: #75acd1;
  border: 2px #080308 solid;
  height: 2em;
  border-radius: 2px; }

hr {
  margin-left: -2.5em;
  width: 1em; }

#login_form {
  border: 2px red solid;
  margin-top: 40em; }

#avatar_list {
  list-style-type: none; }

#avatar_list li {
  display: inline; }

#profile_page {
  height: 26em;
  width: 80em;
  position: relative; }

#accordion {
  width: 79em;
  height: 25em;
  overflow: scroll; }

#accordion ul {
  list-style-type: none;
  margin: 0 0 0 0;
  background-color: #75acd1; }

#accordion ul li {
  border: 2px black solid;
  margin: 2px 10px 4px -35px;
  padding-left: 3px;
  background-color: #bae7e8;
  border-radius: 20px 20px 0px 0px; }

#accordion ul li ul {
  background-color: #bae7e8; }

#accordion ul li h6 {
  text-align: center;
  font-size: 20px;
  margin-top: 6px; }

#list_menu_div {
  margin-top: -8em;
  float: right; }

#list_menu_div {
  float: right;
  position: relative;
  top: -15em;
  margin-right: 10em; }

#list_menu {
  list-style-type: none;
  border-left: 2px black solid; }

#list_menu li {
  padding-bottom: 1em;
  padding-top: 1em;
  border-length: 1em;
  margin-left: -2.5em;
  padding-left: 2em;
  color: #080308; }

#list_menu li:hover {
  color: #75acd1; }

#home_body {
  height: 26em;
  width: 80em;
  margin: 0 auto 0 auto; }

#body_main {
  height: 27em;
  position: relative;
  margin-top: -3em; }

#home_trending_section {
  position: relative;
  border: 5px pink solid; }
