$black:#080308;
$white:#FFFFFF;
$beige:#FFFFEC;
$dblue:#75ACD1;
$lblue:#BAE7E8;
$gray:#333333;
$red:#9C1616;
$medium:12em;


body {margin:0; padding:0;}
body {background-color:$white;}
.bk-b {background-color: $black;}
.bk-g {background-color: $gray;}

.blk {color: $black;}

.dsp-n {display: none;}

.z-2  {z-index: 2;}

.bd-sm {border: 1px black solid;}
.bd-m {border: 2px black solid;}
.br-c {border-radius: 100px; width: 8em; height:8em;}
.br-s {border-radius: 2px;}

.c-db {color: $dblue;}
.c-lb {color: $lblue;}
.c-g {color: $gray;}
.c-r {color: $red;}

.ff-g {font-family:Garamond;}

.p-l {padding: 3px;}
.p-n {padding: 0;}
.pt-m {padding-top: 5em;}
.pt-i {padding-top: -10em;}
.pl-r {padding-left: 40em;}
.pl-c {padding-left: 25em;}
.pl-l {padding-left: 10em;}
.p-in {padding-left: 1em; padding-right: 1em;}
.mg-n {margin: 0;}
.mgr-s {margin-right: 20em; }
.mgl-r {margin-left: 50em;}
.mt-s {margin-top: 3.5em;}

.ht-l {height: 100em;}
.ht-sig {height: $medium + 2em}
.ht-log {height: $medium;}
.ht-m {height: 20em;}
.ht-b {height: 60em;}
.ht-s {height: 10em;}

.wdt-l {width: 25em}
.wdt-f {width: 100%}

.ps-f {position: fixed;}
.ps-r {position: relative; width: 100%;}
.ps-a {position: absolute;}

t-t {top: 0}
.t-h {top: -10em;}

.hvr:hover {border: 3px black solid}

.input {
  padding: 3px;
  height: 1.5em;
  border-radius: 4%;
  font-size: 15px;
  width: 10em;
  text-align: center;
}

h1 {
  font-size: 60px;
}

#hide_button{
  height: 1em;
  width: 3em;
  border: 1px $lblue solid;
  border-radius: 4px;
  background-color: black;
  color: $lblue;
  text-align: center;
}

#hide_button:hover {
  border: 2px $dblue solid;
  color: $dblue;
}

#show_signup_form_button {
  float:right;
}

#show_signup_form_button:hover {
  color: $dblue;
}

#trending_carousel_div {
  position: relative;
  height: 40em;
  width: 90em;
  margin: 0 40em 0 0;
  text-align: center;
  top: 7em;
}

#trending_carousel_div .customNavigation{
  color: $white;
}

#hello {
  height: 5em;
  width: 5em;
  background-color: blue;
}

#new_room_form_div {
  width: 60em;
  height: 25em;
  position: relative;
  border: 4px $black solid;
  border-radius: 4px;
  margin-left: -40em;
}

#text_area {
  width: 80%;
  height: 7em;
  border: 2px $black solid;
  color: $gray;
  font-size: 20px;
  border-radius: 4px;
  margin: 30px 0px 15px 85px;
}

#text_field {
  width: 80%;
  border: 2px $black solid;
  color: $gray;
  font-size: 20px;
  margin: 1em;
  margin-left: 1.5em;
   margin: 40px 0px 0px 85px;
}

#hide_new_room_form_button {
  width: 5em;
  margin-left: 6em;
  text-align: center;
  float: left;
  display:inline-block;
  }

#save_new_room_form_button {
  width: 5em;
  margin: 2px;
  margin-left: 15em;
  text-align: center;
  top: 1.5em;
  position:relative;
}

#hide_new_room_form_button:hover {
  background-color: $dblue;
  border: 2px $black solid;
}

#check_box {
  margin: 5px;
  margin-left: 1.5em;
  font-size: 15px;
  color: $gray;
}

#submit {
  width: 8em;
  text-align: center;
  color: $black;
  }

#submit:hover {
  background-color: $dblue;
  border: 2px $black solid;
  height: 2em;
  border-radius: 2px;
}


hr {
  margin-left: -2.5em;
  width: 1em;
}

#login_form {
  border: 2px red solid;
  margin-top: 40em;
}

#avatar_list {
  list-style-type: none;
}

#avatar_list li {
  display: inline;
}

#profile_page {
  height: 26em;
  width: 80em;
  position: relative;
}


#accordion {
  width: 79em;
  height: 25em;
  overflow: scroll;
}

#accordion ul {
  list-style-type: none;
  margin: 0 0 0 0;
  background-color: $dblue;
}

#accordion ul li {
  border: 2px black solid;
  margin: 2px 10px 4px -35px;
  padding-left: 3px;
  background-color: $lblue;
  border-radius: 20px 20px 0px 0px;
}

#accordion ul li ul {
  background-color: $lblue;
}

#accordion ul li h6 {
  text-align: center;
  font-size: 20px;
  margin-top: 6px;
}

#list_menu_div {
  margin-top: -8em;
  float:right;
}


#list_menu_div {
  float:right;
  position: relative;
  top: -15em;
  margin-right: 10em;
}

#list_menu {
  list-style-type: none;
  border-left: 2px black solid;
}

#list_menu li {
  padding-bottom: 1em;
  padding-top: 1em;
  border-length: 1em;
  margin-left: -2.5em;
  padding-left: 2em;
  color: $black;
}

#list_menu li:hover {
  color: $dblue;
}

#home_body {
  height: 26em;
  width: 80em;
  margin: 0 auto 0 auto;
}

#body_main {
  height: 27em;
  position: relative;
  margin-top: -3em;
}

#home_trending_section {
  position: relative;
}

#song_search_input {
  position: relative;
  border-bottom: 2px $gray solid;
  border-top:0px white solid;
  border-right:0px white solid;
  border-left:0px white solid;
  length: 30em;
  width: 20em;
  color: $gray;
  font-size: 40px;
  outline: none;
}

#song_search_bar {
  position: relative;
  margin-left: -16em;
  margin-top: -8em;
  width: 50em;
  height: 19em;
}

#now_playing_div {
  position: sticky;
  float:right;
  margin-top: -19em;
  margin-left: 45em;
}

#queue_container {
  margin-top: 1em;
  margin-left: -3em;
}

#player_container {
  height: 6em;
}

#soundcloud {
  height: 5em;
}

#delete_button {
  margin-top: -20em;

}
