body { font-family: 'Wire One', arial, serif; text-shadow: 0px .5px 0px black;}

.sti-menu {
    width:1210px;
    position:relative;
    margin:5px auto 0 auto;
}

.sti-menu li {
    float:left;
    width:200px;
    height:250px;
    margin:0 30px 0 30px;
}

.sti-menu li a {
    display:block;
    overflow:hidden;
    background:#fff;
    text-align:center;
    height:100%;
    width:100%;
    position:relative;
    -moz-box-shadow:1px 1px 2px #ddd;
    -webkit-box-shadow:1px 1px 2px #ddd;
    box-shadow:1px 1px 2px #ddd;
}

.sti-menu li a h2 {
    color:#000;
    font-family: 'Wire One', arial, serif;
    font-size:42px;
    font-weight:bold;
    text-transform:uppercase;
    position:absolute;
    padding:10px;
    width:180px;
    top:50px;
    text-shadow: 0px 1px .5px black;
}
.sti-menu li a h3 {
    font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size:18px;
    font-style:italic;
    color: #111;
    position:absolute;
    top:185px;
    width:180px;
    padding:10px;
}

.sti-icon {
    width:100px;
    height:100px;
    position:absolute;
    background-position:top left;
    background-repeat:no-repeat;
    background-size: 100%;
    background-color:transparent;
    left:50px;
    top:10px;
}