.num1 {
  background-image: url(/assets/1.jpg);
  background-size: 100%; }

.num2 {
  background-image: url(/assets/2.jpg);
  background-size: 100%; }

.num3 {
  background-image: url(/assets/3.jpg);
  background-size: 100%; }

.num4 {
  background-image: url(/assets/4.jpg);
  background-size: 100%; }

.num5 {
  background-image: url(/assets/5.jpg);
  background-size: 100%; }

.num6 {
  background-image: url(/assets/6.jpg);
  background-size: 100%; }

.num7 {
  background-image: url(/assets/7.jpg);
  background-size: 100%; }

#my_rooms_carousel .item {
  padding: 3px 0px;
  margin: 5px;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  height: 172px;
  overflow: hidden;
  border: 1px white solid; }

.item h4 {
  font-size: 20px;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em #080308; }

.item h5 {
  margin-top: -2px;
  font-size: 14px;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black; }

.custom Navigation {
  text-align: center; }

.custom Navigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

#my_rooms_carousel_div {
  background-color: #080308;
  height: 15em;
  width: 75.5em;
  margin-left: -38px; }

.customNavigation a {
  padding-left: 4px;
  color: white; }

.customNavigation a:hover {
  color: #75acd1; }
