body {
  background-color: #fffff5; }

.blk {
  color: #080308; }

h1 {
  color: #bae7e8; }

.dsp-n {
  display: none; }

.bd-sm {
  border: 1px black solid; }

.p-l {
  padding: 3px; }

.wdt-l {
  width: 25%; }

.hvr:hover {
  border: 3px black solid; }
