#room_black_bar {
  height: 27em;
  margin-top: 23em;
  padding-top: 8em;
  background-color: black;
  z-index: 10;
  position: relative;
}


#room_black_bar #sti-menu {
  position:absolute;
  margin-left: 20em;
  z-index: 20;
}
