 <div id="body" class="p-n mg-n ht-l bd-sm">

  <%= render "homepage/top_bar" %>

<!--  this is broken be sure to fix it
  <div id="home_body" class="ht-m bd-r">
    < %= render "main_div" %>
  </div> -->

 <%= render "rooms/test_room" %>

<!-- need to move this somewhere better -->

<!-- this is broken be sure to fix it -->
<!--   <div id="home_trending_section" class="bd-sm bk-b ht-b">
  < %= render :partial => 'homepage/carousel' %>
  </div> -->




</div>

