<div id="body" class="p-n mg-n ht-l bd-sm">

  <%= render "homepage/top_bar" %>

  <div id="home_body" class="ht-m bd-r">
    <%= render "main_div" %>
  </div>

<!-- need to move this somewhere better -->
  <%= render :partial => 'partials/search' %>
  <%= render :partial => 'partials/search_results' %>

  <div id="home_trending_section" class="bd-sm bk-b ht-b">
    <div id="trending">
      <h1 class="c-g ff-g p-in">HEY YOU ARE SO COOL CHECKOUT THESE SPIFFY TRENDING ROOMS SCROLL DOWN DO IT YOU COOL KID.</h1>
      <div id="trending_carousel">
        <h1 class="c-db">NOTHING HERE OH NO</h1>
      </div>
    </div>

  </div>





</div>

