
<div id="loggin_menu">
</div>

<div id="signup_menu">
</div>

<div id="home_body">
</div>

<div id="home_mid_divide">
</div>

<div id="home_trending_section">
</div>

<div id="home_footer">
</div>


<h1 class="blk fc">Cloud DJ</h1>

<div>
  <p><a ng-href="/room">Create room</a></p>

  <div>
    <form ng-submit="submit(user)">
      <input type="email" name="email" placeholder="alex@alex.alex" ng-model="user.email" value="blah@blah.com">
      <input type="string" placeholder="firstname" ng-model="user.first_name">
      <input type="string" placeholder="lastname" ng-model="user.last_name">
      <input type="password" placeholder="password" ng-model="user.password">
      <input type="submit">
    </form>
  </div>
</div>





