<div id="body" class="p-n mg-n ht-l bd-sm">

  <div id="loggin_menu" class="bd-sm ht-log bk-b">
    <form ng-submit="submit(user)" class="pt-m pl-r">
        <input type="email" name="email" placeholder="alex@alex.alex" ng-model="user.email" value="blah@blah.com" class="input">
        <input type="password" placeholder="password" ng-model="user.password" class="input">
        <input type="submit" class="input">
      </form>
  </div>

  <div id="signup_menu" class="bd-sm ht-sig bk-g">
    <div>
      <form ng-submit="submit(user)" class="pt-m pl-r">
        <input type="email" name="email" placeholder="alex@alex.alex" ng-model="user.email" value="blah@blah.com" class="input">
        <input type="string" placeholder="firstname" ng-model="user.first_name" class="input">
        <input type="string" placeholder="lastname" ng-model="user.last_name" class="input">
        <input type="password" placeholder="password" ng-model="user.password" class="input">
        <input type="submit" class="input">
      </form>
    </div>
  </div>

  <div id="home_body" class="bd-sm ht-b">
    <div>
      <p><a ng-href="/room">Create room</a></p>
    </div>
      <h1 class="blk fc">Cloud DJ</h1>
      <p> This is an awesome description of the project.</p>
      <p> So cool.</p>
  </div>

  <div id="home_trending_section" class="bd-sm bk-b ht-b">
    <div id="trending">
    </div>
    <div id="home_footer" class="bd-sm">
    </div>
  </div>





</div>



