<h1>Create a new room</h1>

<form ng-submit="submit(roomInformation)">
  <input type="string" name="name" placeholder="Name of your room" ng-model="roomInformation.name">
  <input type="string" name="description" placeholder="About your room!" ng-model="roomInformation.description">
  Private Room<input type="checkbox" ng-model="roomInformation.publicness">
  <input type="submit">
</form>

<!-- form ng-submit="submit(user)">
      <input type="email" name="email" placeholder="alex@alex.alex" ng-model="user.email" value="blah@blah.com">
      <input type="string" placeholder="firstname" ng-model="user.first_name">
      <input type="string" placeholder="lastname" ng-model="user.last_name">
      <input type="password" placeholder="password" ng-model="user.password">
      <input type="submit">
    </form>
  </div> -->

