<h1>Welcome to the room view</h1>


<div ng-controller="SoundcloudCtrl as sound">
  <ul id="query_song_list" class="bd-sm dsp-n wdt-l">
    <!-- <li  ng-repeat="song in sound.songs">{{ song }}</li> -->
  </ul>
</div>

<div ng-controller="YoutubeCtrl">
  <form ng-submit="submit()">
    <input type="string" name="query" placeholder="Search for songs">
    <input type="submit">
  </form>
</div>
