<h1>Create a new room</h1>

<form ng-submit="submit(roomInformation)">
  <input>


</form>



<!--  <form ng-submit="submit(search)">
    <input type="string" name="query" placeholder="Search for songs" ng-model="search.query" id="song_search_bar">
    <input type="submit">
  </form>
 -->




